.container {
    width: 100%; /* Ocupa toda la pantalla */
    height: auto; /* Altura automática */
  }
  
  swiper-container {
    display: flex;
    overflow: hidden;
  }
  
  swiper-slide {
    flex-shrink: 0; 
    width: 100%;
    height: 170px;
    margin-right: 10px; 
    background-color: rgb(108, 109, 108); 
  }
  
  swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease; /* Animación de transición */
  }