.container2 {
    width: 100%; 
    height: auto;
  }
  
  swiper-container {
    display: flex;
    overflow: hidden;
  }
  
  swiper-slide {
    flex-shrink: 0; 
    width: 100%;
    height: 170px;
    margin-right: 10px; 
    background-color: rgb(108, 109, 108); 
  }
  
  swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease;
  }

  /* input de busqueda */
  .field {
    border-radius: 30px;
    outline: none;
    padding: 0.6em;
    border: none;
    width: 100%;
    color: rgb(0, 255, 200);
    background-color: #282828;
  }

  /* cards cuando buscas */

  .card {
    background-color: #282828;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    color: rgb(0, 255, 200);
  }
  
  .titulo2 {
    color: rgb(0, 255, 200);
    font-size: 1.2em; 
}
  
